#name{
    color: #333F50;
    font-size: 49px;
    margin-bottom: 0px;
}

#title{
    margin-top: 0;
    margin-bottom: -100px;
    margin-left: 10px;
}

#summary{

    color: #333F50;
    font-size: 29px;
    margin-top: 120px;
    margin-bottom: 0px;
    margin-left: 10px;
}

#hline{
    margin-left: 10px;
    border: 1px;
    border-style: solid;
    size: 1px;
    width: 57.5%;
}

#spoints{
    font-family:'Times New Roman', Times, serif;
    margin-top: 0;
    margin-bottom: 0px;
}

#keybox{
    background-color: #D9D9D9;
}

#exp{

    color: #333F50;
    font-size: 29px;
    margin-bottom: -10px;
    margin-left: 10px;
}

#pro{

    color: #333F50;
    font-size: 29px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 5px;
}

#hlineexp{
    margin-left: 10px;
    border: 1px;
    border-style: solid;
    size: 1px;
    margin-top: 20px;
    width: 57.5%;
}

#tdata{
    margin-left: 10px;
}


#keybox{

    width: 66.5%;
}

/* side box */

#contact{

    

    font-size:x-large;
    margin-left: 72%;
    color: white;
    
}

#sidebox{
    
    
    margin-left: 640px;
    margin-top: -2750px;
    background-color: #333F50;
    /* text-align: start; */
    width: 40%;
    height: 10%;
}

#conline{
    margin-left: 150px;
    border: 1px;
    border-style: solid;
    size: 1px;
    margin-top: -30px;
    width: 57.5%;
}